.overdue-container {
    padding: 20px;
  }
  
  .tasks-list {
    margin-top: 10px;
  }
  
  .task-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .task-actions {
    margin-top: 10px;
  }
  
  .action-button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .subtasks-container {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .subtask-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 20px;
    column-gap: 30px;
  }
  
  .subtask-actions {
    margin-left: auto;
  }
  
  .date-picker-container {
    margin-top: 10px;
  }
  