.user_info_center{
    width: 40%;
  text-align: center;
  padding: 50px;
  margin-left:25%;

  /* From https://css.glass */
  background: #282b31;
  border-radius: 16px;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #343536;
 
}

.user_info_center h3{
  color: aliceblue;
}

.usercreation_bg{
    background-color: black;
}

.usercreationmain{
  width: 100%;
  height: 100%;
  background-color: #282b31;
}

.autocomplete-options{
  color: aliceblue;
  background-color: #282b31;
}
